body {
    font-family: 'Liberation Serif', 'Trebuchet MS', Verdana, serif;
    color: #222;
    background-color: #EEE;
}

h2, p, td {
    text-align: center;
}

table {
    width: auto;
    margin: auto;
}

td {
    vertical-align: middle;
}

a {
    color: #004e9b;
    text-decoration: none;
}

a:visited {
    color: #60009b;
    text-decoration: none;
}

a:hover {
    color: #cc4400;
    text-decoration: underline;
}

a:active {
    color: #009b7e;
    text-decoration: none;
}

.buttonWeek {
    display: none;
}