body {
    font-family: 'Liberation Serif', 'Trebuchet MS', Verdana, serif;
    color: #222;
    background-color: #EEE;
}

h2, p, li, td {
    text-align: center;
}

table {
    width: auto;
    margin: auto;
}

td {
    vertical-align: middle;
}

.buttonWeek {
    display: none;
}