@charset "UTF-8";

/* Normalisation */
html, body,form, h1, p {
  margin: 0;
  padding: 0;
}

html, h1 {
  font-size: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: 0;
}

a {
  color: #000;
  text-decoration: none;
}

input, select {
  font-size: 100%;
  vertical-align: middle;
}

table, td {
  word-wrap: break-word;
}

hr {
  clear: both;
  visibility: hidden;
}

.center {
  text-align: center;
}

/* Mise en page */
html, body {
  height: 100%;
  width: 100%;
  overflow: auto;
}

body {
  background-color: #EEE;
  color: #222;
  font-family: 'Liberation Serif', 'Trebuchet MS', Verdana, serif;
  font-size: 0.9em;
}

h1 {
  margin-top: 1%;
  font-size: 2em;
  text-align: center;
}

table {
  margin: 20px auto;
}

td {
  text-align: center;
  vertical-align: middle;
}

a, a:link {
  color: #004e9b;
}

a:visited {
  color: #60009b;
}

a:hover {
  color: #cc4400;
  text-decoration: underline;
}

a:active {
  color: #009b7e;
}

input[type="button"].week {
  display: none;
}

form#planning p, footer p {
  text-align: center;
  padding-bottom: 5px;
}

select#idTree {
  width: 100%;
  height: 200px;
}

#content {
  padding: 10px;
}

#content p, #content li {
  text-align: justify;
  padding-bottom: 5px;
}

#content p.center {
  text-align: center;
}

#url {
  font-family: Monospace, sans-serif;
}