@charset "UTF-8";

h1 {
  text-align: center;
}

#planning table {
  margin: 0 auto;
}

#planning td {
  text-align: center;
  vertical-align: top;
}

button.week {
  display: none;
}

form#planning p, p#planning_footer {
  text-align: center;
  padding-bottom: 5px;
}

select#idTree {
  width: 100%;
  height: 200px;
}

#img_planning {
  max-width: 100%;
}

#planning_content {
  padding: 10px;
}

#planning_content p, #planning_content li {
  text-align: justify;
  padding-bottom: 5px;
}

#planning_content p.center {
  text-align: center;
}

#url p {
  font-family: Monospace, sans-serif;
  text-align: left!important
}

#genbutton {
  display: none;
}

footer {
  font-size: 80%;
  text-align: center;
}